@font-face {
  font-family: "another_danger_-_demoregular";
  src: url("another_danger_-_demo-webfont.woff2") format("woff2"),
    url("another_danger_-_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #343022;
  font-family: "another_danger_-_demoregular";
  color: black;
}

#wrapper {
  margin: 0 auto;
  max-width: 1280px;
  background-image: url(../images/backgroundimg-index.jpg);
  background-repeat: no-repeat;
  height: 780px;
  position: relative;
  overflow: hidden;
}

#stalker {
  position: absolute;
  bottom: -120px;
  left: -70px;
}

h2 {
  background-color: #ce2527;
  display: inline-block;
  letter-spacing: 2px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 10%;
  padding-left: 2%;
  margin-left: 1%;
  border: black solid;
  font-size: 2.2em;
}

main {
  text-align: center;
  width: 100%;
}
#sign {
  position: relative;
  width: 100%;
  height: 500px;
  overflow-x: visible;
}
#resume {
  z-index: 5;
  bottom: 75%;
  right: 2%;
  position: absolute;
}

#post {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 10%;
}
