@font-face {
  font-family: "another_danger_-_demoregular";
  src: url("another_danger_-_demo-webfont.woff2") format("woff2"),
    url("another_danger_-_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #343022;
  font-family: "another_danger_-_demoregular";
  color: red;
}

#wrapper {
  margin: 0 auto;
  max-width: 1280px;
  background-image: url(../images/backgroundimg-index.jpg);
  background-repeat: no-repeat;
  height: 780px;
  position: relative;
  overflow: hidden;
}

#stalker {
  position: absolute;
  bottom: -25px;
  left: -70px;
}

h1 {
  background-color: black;
  display: inline-block;
  letter-spacing: 2px;
  padding-left: 20px;
}
